---
import Layout from "../layouts/Layout.astro";
import { ProfileView } from "../components/profile/ProfileView";
---

<Layout title="Profil użytkownika - BoardMate AI">
  <main class="container mx-auto py-8">
    <ProfileView client:load />
  </main>
</Layout>
